:root {
    --primary-color: #000000;
    --secondary-color: #0000FF;
    --accent1-color: #F9AA44;
    --accent2-color: #6DFF33;
}

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
  }
  
  header {
    width: 100%;
    display: flex;
    padding: 1vw;
    justify-content: space-between;
    align-items: center;
    border: .5vw solid #000000;
    max-width: 100%;
    background: black;
  }
   
  header img { 
    max-width: 100%;
    height: auto;
  }
  
  .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px;
    padding-left: 50px;
    padding-top: 16px;
    gap: 2rem;
    font-size: 2rem;
  }
  
  .nav-button {
    display: grid;
    place-items: center; 
    padding: 1vw 2vw;
    margin: 0 10px;
    margin-left: 1vw;
    color:black;
    background-color: orange;
    border: none;
    border-radius: 1vw;
    text-align: left;
    text-decoration: none;
    font-size: 3vw;
    cursor:grab;
    white-space: nowrap;
  }
  
  .nav-button:hover {
    background-color: white
  }
  
h1, h2, h3, h4, p {
    font-size: 2rem;
    font-family:'Times New Roman', Times, serif;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 3px;
    margin: 0 5px;
    color: black;
    justify-content: space-between;
    gap: 2rem;
}
  
h1 {
    font-size: 2rem;
    color: navy;
    text-align: center;
    margin: 1rem;
}

h2, h3, h4 {
    color:#F9AA44;
    padding: 0;
    text-decoration: none;
    white-space: nowrap;
    margin: 0 5px;
    height: auto;
    display: flex;
    align-items: center;
}

.figure-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    padding: 10px;
}

.image-container img {
    width: 100%;
    height: auto;
}

.image-container figcaption {
    margin-top: 10px;
    font-size: 1rem;
    color: white;
    text-align: center;
}

form {
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 0.5rem;
    background-color:gray;
    display: grid;
}

.form-item {
    display: grid;
    align-items: center;
}

fieldset {
    display: grid;
    grid-gap: 3.5rem;
    margin: 1rem;
    border: 1px solid black;
    padding: 1rem;
}

legend {
    padding: 1rem;
    color: Black;
    font-size: 2rem;
    font-weight: 600;
}

legend h1, h2, h3, h4 {
    padding: 1rem;
    color: red;
    font-size: 1.5rem;
    font-weight: 600;
}

label, input, button, select, textarea {
    font-family:Arial, Helvetica, sans-serif;
}

label {
    display: inline-block;
    text-align: left;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    width: 20px;
    height: 22px;
    vertical-align: center;
    margin-right: 1px;
    padding: 0 0;
}

.checkbox-container {
    display: flex;
    align-items: center;
}

button {
    margin: 1rem;
    background-color: navy;
    color: #fff;
    font-weight: 800;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: orange;
    color: black;
    font-weight: 900;
}

footer {
    margin: 1rem auto 0;
    width: 650px;
    text-align: center;
    font-size: 0.8em;
    color: #777;
    border-top: 1px solid #ccc;
}

.nav a { 
    font-size: 1.5rem;
}

svg {
    width: 20px;
    height: 20px;
}

