:root {
  --primary-color: #000000;
  --secondary-color: #0000FF;
  --accent1-color: #F9AA44;
  --accent2-color: #6DFF33;
}

header {
  width: 97%;
  display: flex;
  padding: 1vw;
  justify-content: space-between;
  align-items: center;
  border-bottom: .5vw solid #000000;
  border-left: .5vw solid #000000;
  border-top: .5vw solid #000000;    
  max-width: 100%;
  background: #000000;
}
 
header img { 
  max-width: 100%;
  height: auto;
}

.nav-button {
  display: grid;
  place-items: center; 
  padding: 1vw 2vw;
  margin: 0;
  margin-left: -1vw;
  color: black;
  background-color: orange;
  border: none;
  border-radius: 1vw;
  text-align: left;
  text-decoration: none;
  font-size: 3vw;
  cursor:grab;
  white-space: nowrap;
}

.nav-button:hover {
  background-color: white
}

.hero {
  position: relative;
}

.hero img {
  display: grid;
  width: 100%;
  height: auto;
  padding-top: 1rem;
}

.hero h1 {
  position: absolute;
  display: grid;
  place-items: center;
  bottom: 30vw;
  left: 50%;
  transform: translateX(-50%);
  color: black;
  -webkit-text-stroke: .135vw rgb(82, 209, 122);
  text-align: center;
  font-size: 10vw;
  font-family:'Times New Roman', Times, serif;
  text-decoration: none;
  white-space: nowrap;
  margin: 0;
  line-height: 1;
  border-radius: 5vw;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: -20vw;
  width: 97%;
  padding: 10px;
  background-color: orange;
  opacity: 0.8;
}

.image-container p {
  display: flex;
  place-items: center;
  order: 1;
  margin: 0;
  margin-bottom: 3vw;
  color: black;
  text-align: left;
  font-weight: 550;
  font-size: 1rem;
  flex: 1;
}

.image-container img {
  order: 2;
  max-width: 30%;
  height: auto;
  margin-left: 20px;
}

.navigation {
  display: flex;
  place-items: center;
  padding: 3px;
  padding-left: 80px;
  padding-top: 16px;
  justify-content: space-between;
  gap: 2rem;
  font-size: 2rem;
}

section figure {
  border: thin #c0c0c0 solid;
  display: flex;
  flex-flow: row;
  padding: 5px;
  max-width: 220px;
  margin: auto;
  }
  
figcaption {
  background-color: #222;
  color: #fff;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 3px;
  text-align: center;
  }
