:root {
    --primary-color: #3C6E71;
    --secondary-color: #D9D9D9;
    --accent1-color: #353535;
    --accent2-color:  #284B63;
}

header {
    position: relative;
    margin: 1rem auto;
    background-color: #e9e3e3;
    display: grid;
    grid-template-columns: 1px;
    border: bottom; 1px solid #353535; 
    max-width: 1000px;
}

nav {
    background-color:  #353535;
    
}

h1 {
    font-family: "Oswald", serif;
    font-weight: 400;
    accent-color: rgb(46, 16, 122);
}

p {
    font-weight: 100;
    padding: 15px;
}

article img {
    float: right;
    top: 80px; left: 10px;
}

div {
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;
    float: right;
    padding: 10px;
}

h2 {
    font-family: "Oswald", serif;
    font-weight: 400;
    accent-color: rgb(60, 46, 12);
    padding: 2px 0 0 12px;
    position: webkit-sticky;
    top: -1px;
}