:root {
    --primary-color: #000000;
    --secondary-color: #0000FF;
    --accent1-color: #F9AA44;
    --accent2-color: #6DFF33;
}

.flexbox-container {
    display: flex;
    align-items: center;
    align-content: flex-end;
 
}

.flexbox-container-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: absolute;
    font-size: 2rem;
    font-family: "Questrial", sans-serif;
    display: flex;
    padding: 10px;
    color:orange;
    text-decoration: none;
}

header {
    margin: 0;
    display: grid;
    grid-template-columns: 120px 1fr 2fr;
    align-items: center;
    border-bottom: 4px solid #000000;
    border-left: 4px solid #000000;
    border-top: 4px solid #000000;    
    width: 100%;
    background-color: #000000;
}

.nav {
    font-size: 2rem;
    font-family: "Questrial", sans-serif;
    display: flex;
    padding: 10px;
    color:orange;
    text-decoration: none;
}

.nav a:hover {
    color:#F9AA44;
    font-weight: 700;
    text-decoration: none;
}

.nav a:active {
    color: white;
}

.hero img {
    width: 100%;
    height: auto;
}

article {
    position: base;
}

article img {
    position: relative;
    float: right;
}

figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: row;
    padding: 5px;
    max-width: 220px;
    margin: auto;
  }
  
  img {
    max-width: 220px;
    max-height: 150px;
  }
  
  figcaption {
    background-color: #222;
    color: #fff;
    font-family: ;
    padding: 3px;
    text-align: center;
  }
  