primary-color: 3C6E71;
secondary-color: D9D9D9;
accent1-color: 353535;
accent2-color: 284B63;

heading-font:
text-font:
font-family: "Kanit", sans-serif;

body {
    font-weight: 400;
}

hi {
    font-weight 100;
}